

.productcomposer-item{
	padding: 10px;
	border: 1px solid #666;
	background-color: #ededed;
	margin: 5px;
	cursor: pointer;
}
.productcomposer-item:hover{
	background-color: #f5f5f5;
}

.productcomposer-product-item, .productcomposer-cat-item{
	border:1px solid #d4d4d4;
	display:block;
	float:left;
	margin:5px;
	width: 150px;
	
	
}

.productcomposer-product-item:hover, .productcomposer-cat-item:hover{
	cursor: pointer;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.67);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.67);
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.67);
}

.productcomposer-product-item-info, .productcomposer-cat-item-info {
	display:block;
    padding: 1em 1.6em;
    background-color: #ebebeb;
}

.productcomposer-product-item-info .label, .productcomposer-cat-item-info .label {
	font-weight: bold;
	display:block;
	text-overflow: ellipsis;
	max-width:100%;
	position:relative;
	overflow:	hidden;
	white-space:nowrap
}
.productcomposer-product-item-info .ref, .productcomposer-cat-item-info .ref {
	color: #666;
}


.productcomposer-product-item-photo , .productcomposer-cat-item-photo {
	height: 150px;
    width: 150px;
    position:relative;
}
.productcomposer-product-item-photo img.photo.photowithmargin, .productcomposer-cat-item-photo img {

    margin:0;
    padding:0;
    
    
     max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
    
}

.search-filter-wrap{
	margin: 15px 0 0 10px;
}