.pcbtn{
	
	cursor: pointer;
}


tr.ui-state-highlight td{
	border: 1px solid #dad55e;
	background: #fffa90;
	color: #777620;
}

.composer-cart table{
	width: 100%;
}
.composer-cart .border td, .composer-cart .border th{
	padding: 5px;
}
	
.composer-cart .border td{
	padding: 5px;
    border-bottom: 1px solid #E0E0E0;
}

.productcomposer-selector{
	float:left;
	width:70%;
}

.composer-cart{
	float:right;
	width:28%;
	margin: -0.5em -1em -0.5em 0;
}


            
.back-to-the-future{
	margin: 10px 0;
	padding: 10px 10px 10px 0;
	cursor: pointer;
	font-weight: bold;
	
}
   

.productcomposer-item{
	padding: 10px;
	border: 1px solid #666;
	background-color: #ededed;
	margin: 5px;
	cursor: pointer;
}
.productcomposer-item:hover{
	background-color: #f5f5f5;
}

.productcomposer-product-item, .productcomposer-cat-item{
	border:1px solid #d4d4d4;
	display:block;
	float:left;
	margin:5px;
	width: 300px;
	
	
}

.productcomposer-product-item:hover, .productcomposer-cat-item:hover{
	cursor: pointer;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.67);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.67);
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.67);
}

.productcomposer-product-item-info, .productcomposer-cat-item-info {
	display:block;
    padding: 1em 1.6em;
    background-color: #ebebeb;
}

.productcomposer-product-item-info .label, .productcomposer-cat-item-info .label {
	font-weight: bold;
	display:block;
	text-overflow: ellipsis;
	max-width:100%;
	position:relative;
	overflow:	hidden;
	white-space:nowrap
}
.productcomposer-product-item-info .ref, .productcomposer-cat-item-info .ref {
	color: #666;
}

.no-img-placeholder{
	background: #fbfbfb url("../img/no-img.png") no-repeat center; 
	background-size: contain;
	background-position: center, center;
}    
.productcomposer-product-item-photo , .productcomposer-cat-item-photo {
	height: 300px;
    width: 300px;
    position:relative;
}
.productcomposer-product-item-photo img.photo.photowithmargin, .productcomposer-cat-item-photo img, .no-img-placeholder {

    margin:0;
    padding:0;
    
    
     max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
    
}

.search-filter-wrap{
	margin: 15px 0 0 10px;
}

.pc-form .label{
	font-weight: bold;
}
